.tab {
  color: var(--mantine-color-dimmed); /* Inactive tab color */

  @mixin hover {
    color: var(--mantine-color-dark);
  }
}

.tab[data-active] {
  color: var(--mantine-color-dark); /* Active tab color */
}
