.root {
  --lightbox-overlay-color: rgba(28, 25, 23, 0.88);
  --lightbox-control-bg: rgba(28, 25, 23, 0.6);
  --lightbox-control-bg-hover: rgba(28, 25, 23, 0.8);
  --lightbox-toolbar-button-size: calc(2.75rem * var(--mantine-scale));
  --lightbox-toolbar-height: calc(
    var(--lightbox-toolbar-button-size) + 2 * var(--mantine-spacing-sm)
  );
}

.overlay {
  backdrop-filter: blur(3px);
}

.toolbar,
.navigation {
  padding: 0 var(--mantine-spacing-sm);
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.slide {
  padding: var(--mantine-spacing-sm);
}

.toolbarButton,
.navigationButton {
  border-radius: var(--mantine-radius-xl);
  background-color: var(--lightbox-control-bg);
  opacity: 1;
  transition: background-color var(--lightbox-transition-duration) ease;

  @mixin hover {
    background-color: var(--lightbox-control-bg-hover);
  }
}

.toolbarButton {
  width: var(--lightbox-toolbar-button-size);
  height: var(--lightbox-toolbar-button-size);

  & > svg {
    width: calc(1.5rem * var(--mantine-scale));
    height: calc(1.5rem * var(--mantine-scale));
  }
}

.navigationButton {
  width: calc(3rem * var(--mantine-scale));
  height: calc(3rem * var(--mantine-scale));

  & > svg {
    width: calc(1.75rem * var(--mantine-scale));
    height: calc(1.75rem * var(--mantine-scale));
  }
}

.counter {
  display: none;
}

.caption {
  width: 100%;
  max-width: 40rem;
  margin-inline: auto;
  padding: var(--mantine-spacing-xxs) var(--mantine-spacing-sm)
    var(--mantine-spacing-sm);
  opacity: 1;
}
