/* navlink inactive */
.navLink {
  color: var(--mantine-color-gray-6);

  @mixin dark {
    color: var(--mantine-color-gray-4);
  }
}

/* navlink inactive (open collection - green) */
.navLinkGreen {
  color: var(--mantine-color-green-7);

  @mixin dark {
    color: var(--mantine-color-green-5);
  }
}

/* navlink active */
.navLinkActive {
  color: var(--mantine-color-dark-filled);

  @mixin dark {
    color: var(--mantine-color-white);
  }
}

/* navlink active (open collection - green) */
.navLinkActiveGreen {
  color: var(--mantine-color-green-9);

  @mixin dark {
    color: var(--mantine-color-green-4);
  }
}

/* badge inactive */
.badge {
  background-color: var(--mantine-color-gray-light);
  color: var(--mantine-color-gray-light-color);

  @mixin dark {
    color: var(--mantine-color-gray-4);
    background-color: var(--mantine-color-gray-light);
  }
}

/* badge active */
.badgeActive {
  background-color: var(--mantine-color-dark-filled);
  color: var(--mantine-color-white);

  @mixin dark {
    background-color: var(--mantine-color-gray-6);
    color: var(--mantine-color-dark-filled);
  }
}

/* badge active (open collection - green) */
.badgeActiveGreen {
  background-color: var(--mantine-color-green-9);
  color: var(--mantine-color-white);

  @mixin dark {
    background-color: var(--mantine-color-green-7);
    color: var(--mantine-color-dark-filled);
  }
}
